<!-- Footer -->
<div class="footer pt-4">
   <div class="row">

      <div class="col-md-3 my-mb">
         <ul>
            <span class="my-caption-f">HỖ TRỢ KHÁCH HÀNG</span>
            <br>
            <li>
               <a href="#">
                  <span class="hotline">Chăm sóc khách hàng: 1900-6035 </span> (1000đ/phút , 8-21h kể cả T7, CN)
               </a>
            </li>
            <li><a href="#">Các câu hỏi thường gặp</a></li>
            <li><a href="#">Gửi yêu cầu hỗ trợ</a></li>
            <li><a href="#">Hướng dẫn đặt hàng</a></li>
            <li><a href="#">Hướng dẫn mua trả góp</a></li>
         </ul>
      </div>

      <div class="col-md-3 my-mb">
         <ul>
            <span class="my-caption-f">VỀ CHÚNG TÔI</span>
            <br>
            <li><a href="gioithieu.html">Giới thiệu</a></li>
            <li><a href="#">Chính sách bảo mật thanh toán</a></li>
            <li><a href="#">Chính sách bảo mật thông tin cá nhân</a></li>
            <li><a href="#">Chính sách giải quyết khiếu nại</a></li>
            <li><a href="#">Điều khoản sử dụng</a></li>
            <li><a href="#">Bán hàng doanh nghiệp</a></li>
         </ul>
      </div>

      <div class="col-md-3 my-mb">
         <div>
            <span class="my-caption-f">PHƯƠNG THỨC THANH TOÁN</span>
            <br>
            <div class="cols">
               <div class="cols-2">
                  <a href="#">
                     <img src="Resources/myImages/p1.png" class="my-icon-f" alt="">
                  </a>
               </div>
               <div class="cols-2">
                  <a href="#">
                     <img src="Resources/myImages/p2.png" class="my-icon-f" alt="">
                  </a>
               </div>
               <div class="cols-2">
                  <a href="#">
                     <img src="Resources/myImages/p3.png" class="my-icon-f" alt="">
                  </a>
               </div>
               <div class="cols-2">
                  <a href="#">
                     <img src="Resources/myImages/p4.png" class="my-icon-f" alt="">
                  </a>
               </div>
               <div class="cols-2">
                  <a href="#">
                     <img src="Resources/myImages/p5.png" class="my-icon-f" alt="">
                  </a>
               </div>
               <div class="cols-2">
                  <a href="#">
                     <img src="Resources/myImages/p6.png" class="my-icon-f" alt="">
                  </a>
               </div>
            </div>
         </div>
      </div>

      <div class="col-md-3 my-mb">
         <ul>
            <span class="my-caption-f">ỨNG DỤNG TRÊN ĐIỆN THOẠI</span>
            <br>
            <div class="my-ap">
               <div class="col-12 my-app-img">
                  <a href="#" class="d-block">
                     <img src="Resources/myImages/app1.png" style="width: 230px;" class="my-icon-f" alt="">
                  </a>
               </div>
               <div class="col-12 my-app-img mt-2">
                  <a href="#">
                     <img src="Resources/myImages/app2.png" style="width: 230px;" class="my-icon-f" alt="">
                  </a>
               </div>
            </div>
         </ul>
      </div>

      <div class="clearfix"></div>

   </div>
</div>
<!-- //Footer -->

<!-- Font icon facebook, instagram, googleapis, twitter, youtube vi fontawesome khong dung duoc -->
<link rel="stylesheet" href="Resources/fontawesome/myFont/icofont/icofont.min.css">

<!--Địa chỉ-->
<div class="my-footer">
   <p class="my-dia-chi"><span>Địa chỉ văn phòng:</span> 25/3D đường 2, phường Tam Bình, TP. Thủ Đức, TP. Hồ Chí
      Minh.
   </p>
   <p class="my-dia-chi mb-3">Nhận đặt hàng trực tuyến và giao hàng tận nơi, chưa hỗ trợ mua và nhận hàng trực
      tiếp
      tại
      văn phòng hoặc trung tâm xử lý đơn hàng.</p>
   <div class="row">
      <div class="col-6 pr-0">
         <p style="color: #ffffff !important;" class="my-copy">© 2022 Design by <a href="javascript:void(0)"
               target="=_blank" style="color: #ff0000 !important;">
               3H Group </a></p>
      </div>
      <div class="col-6 pr-0">
         <div>
            <ul class="social-icons d-flex justify-content-end align-items-center">
               <li>
                  <a href="#" class="facebook" title="Facebook">
                     <i class="icofont-facebook my-facebook my-icon-f" aria-hidden="true"></i>
                  </a>
               </li>
               <li>
                  <a href="#" class="twitter" title="Twitter">
                     <i class="icofont-twitter my-twitter my-icon-f" aria-hidden="true"></i>
                  </a>
               </li>
               <li>
                  <a href="#" class="googleplus" title="Google">
                     <i class="icofont-google-plus my-google my-icon-f" aria-hidden="true"></i>
                  </a>
               </li>
               <li>
                  <a href="#" class="instagram wthree" title="Instagram">
                     <i class="icofont-instagram my-instagram my-icon-f" aria-hidden="true"></i>
                  </a>
               </li>
               <li>
                  <a href="#" class="youtube" title="youtube">
                     <i class="icofont-youtube-play my-youtube my-icon-f" aria-hidden="true"></i>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="clearfix"></div>
</div>
<!--// Địa chỉ-->


<!-- Chatbox -->
<div>
   <div class="message-dialog message-hiden">
      <div class="mess-header d-flex align-items-center" style="box-shadow: 0 1px 1px rgb(224, 224, 224);">
         <div class="mr-auto ml-3 mt-3 d-flex align-items-center">
            <img src="Resources/myImages/icon-amazon.png" alt="" class="mr-1"
               style="width:30px; height: 30px; border-radius:50%;">
            <span style="font-size: 18px;">Hỗ trợ online</span>
         </div>
         <div class="ml-0 mr-3 mt-1">
            <span class="icon-ho-top text-primary" style="cursor: pointer;"><i class="fas fa-video"></i></span>
            <span class="icon-ho-top text-primary" style="cursor: pointer;"><i class="fa fa-phone"
                  aria-hidden="true"></i></i></span>
            <span class="message-minimize icon-ho-top text-primary" style="cursor: pointer;">X</span>
         </div>
      </div>
      <div class="message-content px-2" style="overflow: auto;">

         <div class="message-text d-flex justify-content-start mt-3">
            <div style="width: 35px;"></div>
            <div class="message-comment w-75">
               <div class="mess-one pt-1 pl-4 pr-4 pb-1"
                  style="border-radius: 18px; border-bottom-left-radius: 0;background-color:rgb(224, 224, 224)">
                  <p style="color: black !important; border:none; font-size:14px; margin-bottom:0;">
                     Cảm ơn bạn đã cho phép chúng tôi cơ hội để hỗ trợ bạn. <br>
                  </p>
               </div>
            </div>
         </div>
         <div class="message-text d-flex justify-content-start mt-1">
            <div style="width: 35px;"></div>
            <div class="message-comment w-75">
               <div class="mess-one pt-1 pl-4 pr-4 pb-1"
                  style="border-radius: 18px; border-bottom-left-radius: 0;border-top-left-radius: 0;background-color:rgb(224, 224, 224)">
                  <p style="color: black !important; border:none; font-size:14px;" class="mb-0">
                     Cảm ơn bạn đã cho phép chúng tôi cơ hội để hỗ trợ bạn. <br>
                     Chào mừng bạn đến cửa hàng, Tìm những gì bạn thích ... ❤ <br>
                  </p>
               </div>
            </div>
         </div>
         <div class="message-text d-flex justify-content-start mt-1">
            <a href="javascript:void(0)" class="mt-auto"><img src="Resources/myImages/icon-amazon.png"
                  class="mt-auto mr-2" alt="" style="width:30px;height:auto; border-radius:50%;"></a>
            <div class="message-comment w-75">
               <div class="mess-one pt-1 pl-4 pr-4 pb-1"
                  style="border-radius: 18px;border-top-left-radius: 0; background-color:rgb(224, 224, 224)">
                  <p style="color: black !important; border:none; font-size:14px;" class="mb-0">
                     Tất cả các sản phẩm của chúng tôi là trong kho. <br>
                     Dịch vụ khách hàng Thời gian trực tuyến: 9 xuất 00 AM-18 00 00.❤ <br>
                     Giới thiệu về Thời gian giao hàng Giao hàng 1-2 ngày, Nhận trong 7-15 ngày.❤ <br>
                  </p>
               </div>
            </div>
         </div>
         <p class="mess-date text-center lead my-show-chat2">17:50, 21 Tháng 10, 2020</p>

         <div class="message-text justify-content-start mt-1 mess-hiden my-hiden my-show-chat1"
            style="position: relative; height: auto;">
            <div style="width: 400px;">
               <div class="message-comment w-75" style="margin-left: 60px;">
                  <div class="mess-one pt-1 pl-4 pr-4 pb-1"
                     style="border-radius: 18px; background-color:rgb(224, 224, 224)">
                     <p style="color: black !important; border:none; font-size:14px;" id="mess-hiden-text" class="mb-0">

                     </p>
                  </div>
               </div>
            </div>

            <a href="javascript:void(0)" class="mt-auto" style="position: absolute; bottom: 0; right: -8px;">
               <img src="Resources/myImages/user-s.png" class="mt-auto mr-2" alt=""
                  style="width:30px;height:auto; border-radius:50%;">
            </a>
         </div>

         <p class="mess-date text-center lead mess-hiden my-hiden my-show-chat2" style="clear: both;">17:50, 21
            Tháng
            10, 2020</p>

         <div class="clearfix"></div>

         <script>
            $(window).ready(function () {
               $("#btn-send-mess").click(function () {
                  var date = new Date();
                  var text = $("#mess-text-current").val();
                  $("#mess-text-current").val("");

                  if (text != "") {
                     $(".my-show-chat1").removeClass("my-hiden").addClass("d-flex");
                     $(".my-show-chat2").removeClass("my-hiden").text(date.getMinutes() + ":" + date.getHours() + ", " + date.getDate() + " Tháng " + (date.getMonth() + 1) + ", " + date.getFullYear());
                     $("#mess-hiden-text").text(text);

                  }

               })
            })
         </script>

      </div>
      <div class="message-footer mt-auto d-flex px-2 justify-content-center align-items-center"
         style="height: 50px;box-shadow: 0 -1px 1px rgb(224, 224, 224);;">
         <a href="javascript:void(0)" class="icon-ho ml-2"><i class="fa fa-camera text-primary" aria-hidden="true"
               style="font-size: 30px;"></i></a>
         <a href="javascript:void(0)" class="icon-ho ml-2"><i class="fa fa-paperclip" aria-hidden="true"
               style="font-size: 30px;"></i></a>
         <input type="text" class="mx-1"
            style="width: 220px; padding:5px 10px;margin-bottom: 0px;background-color: rgb(224, 224, 224);color: black;font-size:14px; border-radius: 20px;"
            placeholder="Nhập nội dung bạn muốn gửi..." id="mess-text-current">
         <a href="javascript:void(0)" class="icon-ho ml-2" id="btn-send-mess"><i class="fa fa-paper-plane text-primary"
               aria-hidden="true" style="font-size: 30px"></i></a>
      </div>
   </div>
   <div class="message-icon">
      <i class="far fa-comment-dots"></i>
   </div>
</div>
<!-- Lên đầu trang -->
<a href="#" class="len-dau-trang">
   <i class="fa fa-angle-double-up" aria-hidden="true"></i>
</a>
<!--//Chatbox -->