<div>
   <!-- my-Header -->
   <div class="my-head container-fluid">
      <!-- Header-Top-Bar  -->
      <div class="container d-flex justify-content-start align-items-start my-header">
         <a href="index.html">
            <img src="Resources/myImages/logo.jpg" alt="Logo" class="my-logo">
         </a>
         <form action="" class="d-inline-block my-form">
            <div class="search row my-row">
               <input type="text" placeholder="Bạn tìm gì..." class="my-search-text col-10">
               <a class="btn btn-outline-primary col-2 my-search-button" style="height: 40px;">
                  <i class="fa fa-search"></i>
               </a>
            </div>
         </form>
         <div class="my-header-right d-flex justify-content-center align-items-center">
            <a class="ml-5 my-header-right-item my-header-right-item2 my-active"><strong id="name-user">Huỳnh Ngọc
                  Sơn</strong></a>
            <a href="thongtinkhachang.html"
               class="ml-2 mt-5 my-header-right-item my-header-right-item2 my-user-responsive">
               <img src="Resources/myImages/user-s.png" alt="Huỳnh Ngọc Sơn"
                  style="width: 40px;top: 25px;position: absolute;">
            </a>
            <a href="login.html" class="ml-5 my-header-right-item my-header-right-item2 my-res-a my-active"><strong
                  id="log-out-lbl">Đăng
                  xuất</strong></a>
            <a href="login.html"
               class="ml-2 mt-5 my-header-right-item my-header-right-item2 my-res-a my-user-responsive">
               <img src="Resources/myImages/user-s-logout.png" alt="Huỳnh Ngọc Sơn" class="ml-1"
                  style="width: 40px;top: 25px;position: absolute;">
            </a>
            <a href="giohang.html" class="ml-5 my-header-right-item my-giohang my-lg">
               <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
               Giỏ hàng
               <span class="badge badge-danger my-no"></span>
            </a>
            <a href="giohang.html" class="ml-2 my-header-right-item my-giohang my-sm my-res-a"
               style="margin-right: 15px;margin-top:20px;">
               <i class="fa fa-cart-arrow-down" aria-hidden="true" style="right:5px;"></i>
               <span class="badge badge-danger my-no"></span>
            </a>
         </div>
      </div>
      <!-- //Header-Top-Bar  -->


      <!-- Navigation -->
      <div class="d-flex justify-content-center align-items-center Navigation">
         <ul class="my-nav d-flex justify-content-center my-nav-temp" id="my-navs">
            <li class="my-active">
               <a href="index.html">TRANG CHỦ</a>
            </li>
            <li class="my-parent-2">
               <a href="sanpham.html">SẢN PHẨM <span></span></a>

            </li>
            <!-- <li class="my-parent-2">
               <a href="sanpham.html">PHỤ KIỆN</a>
               <div class="my-dropdow">
                  <ul>
                     <li>
                        <a href="phukien.html" class="li2">PHỤ KIỆN ĐIỆN THOẠI</a>
                     </li>
                     <li>
                        <a href="phukien.html" class="li2">PHỤ KIỆN LAPTOP</a>
                     </li>
                     <li>
                        <a href="phukien.html" class="li2">PHỤ KIỆN TABLET</a>
                     </li>
                     <li>
                        <a href="phukien.html" class="li2">PHỤ KIỆN SMART WATCH</a>
                     </li>
                  </ul>
               </div>
            </li> -->
            <li>
               <a href="gioithieu.html">GIỚI THIỆU</a>
            </li>
            <li>
               <a href="lienhe.html">LIÊN HỆ</a>
            </li>
         </ul>
         <a href="javascript:void(0);" style="font-size: 50px;" class="icon" id="btn-toggle">&#9776;</a>
      </div>
      <!-- //Navigation -->

   </div>

   <!-- end my-Header -->



</div>